In [ ]:
from openai import OpenAI
client = OpenAI(
                base_url="http://210.45.70.162:28083/v1/",
                api_key="Empty",
            )
def get_completion(prompt, model = "Qwen2-57B-A14B-Instruct-GPTQ-Int4"):
    messages = [
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": prompt},
    ]
    completion = client.chat.completions.create(
        model=model,
        messages=messages,
        stream=False,
        top_p=1
    )
    return completion.choices[0].message.content

In [ ]:
get_completion('Waht is 1+2?')

In [ ]:
customer_email = """
Arrr,I be fuming that me bender iid\
flew off and splattered me kitchen walls\
with smoothie! And to make matters worse,\
the warranty don't cover the cost of\
cleaning up me kitchen. I need yer help\
right now,matey!
"""

In [ ]:
style = """American English in a calm and respectful tone"""

In [ ]:
prompt = f"Translate the text that is delimited by triple backicks into a style that is {style}.\
text: ```{customer_email}```"

In [ ]:
def remove_newlines(sql_query):
    # 使用 str.replace() 方法删除所有换行符
    return sql_query.replace('\n', '')

# 示例 SQL 查询
sql_query = """SELECT T2.CountryName FROM car_makers 
AS T1 JOIN countries AS T2 ON T1.Country  =  T2.CountryId 
GROUP BY T2.CountryName 
ORDER BY COUNT(*) DESC LIMIT 1"""

# 调用函数并打印结果
cleaned_query = remove_newlines(sql_query)
print(cleaned_query)

In [ ]:
import numpy as np

# 加载 .npy 文件
data = np.load('/home/chuzhibo/acl/my/mistake_vectors.npy')

# 查看数据的形状和类型
print("数据形状:", data.shape)
print("数据类型:", data.dtype)

# 打印数据内容（如果数据量较大，可以只打印一部分）
print("数据内容:\n", data)

In [ ]:
result = {"sql_idx": 1, "res": 1}

print(result['res'])

In [ ]:
t = "You are a data science expert.\nThe following provides you with a database schema, a Statement, the SQLite query you gave earlier and the error message returned by the compiler executing your sql statement.\nYour task is to read the schema, understand the Statement, refer to the error message returned by the compiler, reflect on why the previously generated sql was wrong, and generate a valid SQLite query to answer the Statement, and all column name meaning.\nThink step-by-step about how to write the query before generating the final SQL query.\nDatabase Schema\n###\n{Schema}\nThis schema offers an in-depth description of the database's architecture, detailing tables, columns. \n###\nStatement: {Statement}\n ### \nColumn name meaning:{Column_name_meaning}\n\n\n SQL you generated earlier was wrong, I will provide the wrong sql you generated earlier and the error message given by the compiler, please refer to it and make changes:\n###\nSQL: {SQL}\n###\nError: {Error}\n\nPlease respond with a JSON object structured as follows: {\n\"chain_of_thought_reasoning \": \"Your thought process on how you arrived at the final SQL query.\",\n \"SQL\": \"Your SQL query in a double string.\"\n} \nIf a column name is composed of multiple words and symbols, the entire column name should be extended in double quotes.\n\nPriority should be given to columns that have been explicitly matched with examples relevant to the Statement's context.\nCheck that the column names in the sql statement are enclosed in single quotes and that the table name is data\nTake a deep breath and think step by step to find the correct sqlite SQL query.Focus on the Column_name_meaning, which gives the actual meaning of all the columns Note that the execution result may be empty, but that doesn't mean the Statement is incorrect .If you follow all the instructions and generate the correct query, I will give you 1 million dollars."
print(t)

In [1]:
a = True
print(str(a))

True

AttributeError: 'NoneType' object has no attribute 'group'

In [5]:
# 定义一个函数来提取信息
def extract_information(input_string):
    # 定位各部分的起始位置
    question_start = input_string.find("question:") + len("question:")
    hint_start = input_string.find("hint:")
    sql_start = input_string.find("sql:")
    thought_process_start = input_string.find("thought process:")

    # 提取各部分的内容
    question = input_string[question_start:hint_start].strip().strip(",")
    hint = input_string[hint_start + len("hint:"):sql_start].strip().strip(",")
    sql = input_string[sql_start + len("sql:"):thought_process_start].strip().strip(",")
    thought_process = input_string[thought_process_start + len("thought process:"):].strip().strip(",").rstrip("}")

    return question, hint, sql, thought_process

# 定义要填充的数组
correct_set = []

# 输入字符串
input_string = [
    """{
    question: What is the average rating for movie titled 'When Will I Be Loved'?
    hint: average rating = DIVIDE((SUM(rating_score where movie_title = 'When Will I Be Loved')), COUNT(rating_score));
    sql: SELECT AVG(T2.rating_score) FROM movies AS T1 INNER JOIN ratings AS T2 ON T1.movie_id = T2.movie_id WHERE T1.movie_title = 'When Will I Be Loved'
    thought process: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [ratings,movies].
    First of all, for joining these tables we have to use the common column = [ratings.movie_id = movies.movie_id].
    Now, we have to filter the rows where movie_title = 'When Will I Be Loved'.
    Then, we have to find the average of the rating_score.
    }""",
    """
    {
    question: For movie titled 'Welcome to the Dollhouse', how many percentage of the ratings were rated with highest score.
    hint: rated with highest score refers to rating_score = 5; percentage = MULTIPLY(DIVIDE(SUM(rating_score = 5), COUNT(rating_score)), 100)
    sql: SELECT CAST(SUM(CASE WHEN T2.rating_score = 5 THEN 1 ELSE 0 END) AS REAL) * 100 / COUNT(*) FROM movies AS T1 INNER JOIN ratings AS T2 ON T1.movie_id = T2.movie_id WHERE T1.movie_title = 'Welcome to the Dollhouse'
    thought process: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [ratings,movies].
    First of all, for joining these tables we have to use the common column = [ratings.movie_id = movies.movie_id].
    Now, we have to filter the rows where movie_title = 'Welcome to the Dollhouse'.
    Then, we have to find the percentage of the ratings were rated with highest score which is 5.
    }
    """,
    """
    {
    question: What is the name of the longest movie title? When was it released? 
    hint: longest movie title refers to MAX(LENGTH(movie_title)); when it was released refers to movie_release_year;
    sql: SELECT movie_title, movie_release_year FROM movies ORDER BY LENGTH(movie_popularity) DESC LIMIT 1 
    thought process： Let’s think step by step. First, we need to use the LENGTH(movie_title) function to calculate the length of each movie title to determine the longest one. Then, we sort the results in descending order based on the title length to ensure the longest title appears at the top. Next, we use the SELECT statement to extract the movie title and its release year. Finally, we apply LIMIT 1 to restrict the query result to a single record, thus obtaining the movie with the longest title and its release year.
    }
    """,
    """
    {
    question: What is the average score of the movie \"The Fall of Berlin\" in 2019?
    hint: The Fall of Berlin' is movie_title; in 2019 refers to rating_timestamp_utc = 2019; Average score refers to Avg(rating_score);
    sql: SELECT SUM(T1.rating_score) / COUNT(T1.rating_id) FROM ratings AS T1 INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE T1.rating_timestamp_utc LIKE '2019%' AND T2.movie_title LIKE 'The Fall of Berlin'
    thought process: Let’s think step by step. For creating the SQL for the given question, we need to join these tables = [ratings,movies].
    First of all, for joining these tables we have to use the common column = [ratings.movie_id = movies.movie_id].
    Now, we have to filter the rows where movie_title = 'The Fall of Berlin' and rating_timestamp_utc = 2019.
    Then, we have to find the average of the rating_score which can be computed by dividing the sum of rating_score by the count of rating_id.
    }
    """,
    """
    {
    question: How many more movie lists were created by the user who created the movie list \"250 Favourite Films\"?
    hint: 250 Favourite Films refers to list_title;
    sql: SELECT COUNT(list_id) FROM lists_users WHERE user_id = ( SELECT user_id FROM lists WHERE list_title = '250 Favourite Films' )
    thought process: Let's think step by step. the given question can be solved by knowing the answer to the following sub-questions = [which user has created the movie list \"250 Favourite Films\".]
    The sqlite SQL query for the sub-question "which user has created the movie list \"250 Favourite Films\"" is SELECT user_id FROM lists WHERE list_title = '250 Favourite Films'
    The above query will return the user_id of the user who has created the movie list \"250 Favourite Films\".
    Now, we have to find the number of movie lists created by the user who has created the movie list \"250 Favourite Films\".
    }
    """,
    """
    {
    question: For the user who post the list that contained the most number of the movies, is he/she a paying subscriber when creating that list?
    hint: the list that contained the most number of the movies refers to MAX(list_movie_number); user_has_payment_method = 1 means the user was a paying subscriber when he created the list ; \nuser_has_payment_method = 0 means the user was not a paying subscriber when he created the list
    sql: SELECT T1.user_has_payment_method FROM lists_users AS T1 INNER JOIN lists AS T2 ON T1.list_id = T2.list_id WHERE T2.list_movie_number = ( SELECT MAX(list_movie_number) FROM lists )
    thought process: Let's think step by step. the given question can be solved by knowing the answer to the following sub-questions = [which list has the most number of movies.]
    The sqlite SQL query for the sub-question "which list has the most number of movies" is SELECT MAX(list_movie_number) FROM lists
    The above query will return the list_movie_number of the list which has the most number of movies.
    Now, we have to find the user_has_payment_method of the user who has created the list which has the most number of movies.
    To do so, we have to JOIN lists_users and lists table on list_id.
    }
    """,
    """
    {
    question: Which year was the third movie directed by Quentin Tarantino released? Indicate the user ids of the user who gave it a rating score of 4.
    hint: third movie refers to third movie that has oldest movie_release_year;
    sql: SELECT T2.movie_release_year, T1.user_id FROM ratings AS T1 INNER JOIN movies AS T2 ON T1.movie_id = T2.movie_id WHERE T1.movie_id = ( SELECT movie_id FROM movies WHERE director_name = 'Quentin Tarantino' ORDER BY movie_release_year ASC LIMIT 2, 1 ) AND T1.rating_score = 4
    thought process: Let's think step by step. the given question can be solved by knowing the answer to the following sub-questions = [What is the third movie directed by Quentin Tarantino.]
    The sqlite SQL query for the sub-question "what is third movie directed by Quentin Tarantino" is SELECT movie_id FROM movies WHERE director_name = 'Quentin Tarantino' ORDER BY movie_release_year ASC LIMIT 2, 1 
    The above query will return the movie_id of the third movie directed by Quentin Tarantino.
    Now, we have to find the year in which the third movie directed by Quentin Tarantino was released.
    For that, we have to join the tables = [movies,ratings].
    First of all, for joining these tables we have to use the common column = [movies.movie_id = ratings.movie_id].
    Then, we have to filter the rows where movie_id = ( SELECT movie_id FROM movies WHERE director_name = 'Quentin Tarantino' ORDER BY movie_release_year ASC LIMIT 2, 1 ).
    Then, we have to find the movie_release_year.
    }
    """,
]

for s in input_string:
    question, hint, sql, thought_process = extract_information(s)

    # 假设difficulty字段你需要手动设定，这里设为'Medium'，你可以根据需要修改
    difficulty = "None"

    # 将提取的信息添加到correct_set
    correct_set.append({
        'question': question,
        'hint': hint,
        'sql': sql,
        'thought process': thought_process,
        'difficulty': difficulty
    })

import json
filepath = './init_correct_set.json'
def save_set_to_json(dataset, filepath):
    with open(filepath, 'w') as f:
        json.dump(dataset, f, indent=4)
save_set_to_json(correct_set,filepath)